h1{
    text-align: center;
}

.contenedor{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.contenedor .imagen{
    width: 400px;
    height: 500px;
    position: absolute;
    left: 32%;

}